.analytic{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 2px;
}
.channel-analytics-data {
    text-align: center;
    /*border: 1px solid ;*/
    color: white;
}
.title-analytic-data{
    margin-top: 0px;
}
.channel {
    display: flex;
    flex-direction: column;
    /*border: 3px solid;*/
    width: 45%;
    margin-right: 5%;
    color: white;
}

.livestream {
    display: flex;
    flex-direction: column;
    /*border: 3px solid;*/
    width: 45%;
    margin: 3px;
    color: white;
}

/*.violation{*/
/*    margin-right: auto;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    border: 3px solid;*/
/*    width: 33%;*/
/*    margin-left: 1%;*/
/*}*/
.trend-info {
    display: flex;
    flex-direction: row;
    width: 100%;
    /*border: 1px solid;*/
    margin: 3px;
}

.lastest-livestream {
    display: flex;
    flex-direction: column;
    /*border: 3px solid;*/
    width: 45%;
    margin-right: 5%;
    color: white;
}

.top-livestream {
    display: flex;
    flex-direction: column;
    /*border: 3px solid;*/
    width: 45%;
    margin: 3px;
    color: white;
}

.chart {
    width: 100% !important;
    height: 50%;
}

.pagination {
    display: none !important;
}

.summary {
    display: none !important;
}

.panel-body {
    background-color: #212121 !important;
}

.panel {
    box-shadow: none !important;
    border: 1px rgba(255, 255, 255, 0.1) solid !important;


}

/*.panel-body.row {*/
/*    background-color: #000000 !important;*/
/*}*/