.portlet-title{
    background-color: #1a1a1a !important;
    color: white;
    border-bottom: 1px solid rgba(255,255,255, 0.1) !important;
}
.portlet.light.portlet-fit.portlet-datatable.bordered{
    background-color: #212121 !important;
    border: 0px !important;
}

 td {
       border: 0px !important;
       border-bottom: 1px solid rgba(255,255,255, 0.1) !important;
}
th {
    border: 0px !important;
    border-bottom: 1px solid rgba(255,255,255, 0.3) !important;
}

.table-bordered {
    border : 1px solid rgba(255,255,255, 0.1) !important;
}