.portlet.light{
    background-color: #212121 !important;
}
.portlet-title , .portlet.light.bordered {
    border-color: rgba(0 0 0 0)
}
td {
    border: 0px !important;
    border-bottom: 1px solid rgba(255,255,255, 0.1) !important;
}
th {
    border: 0px !important;
    border-bottom: 1px solid rgba(255,255,255, 0.3) !important;
}

.table-bordered {
    border : 1px solid rgba(255,255,255, 0.1) !important;
}
.portlet-body{
    background-color: #212121 !important;
}
.day,.hour,.minute,.form-check-label,.help-block{
    color: white !important;
}
.day.new,.day.old{
    color:grey !important;
}
.portlet.light.bordered .portlet-title {
    border-bottom: none !important;
}
.panel{
    box-shadow: none !important;
}
.caption{
    color: white !important;
}
/*.portlet-body{*/
/*    color: white !important;*/
/*}*/
.daterangepicker{
    background-color:#212121 !important;
}
