.main {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 1%;
}

* {
    color: white;
}

.image-live {
    margin-left: 0px !important;
}

.div-image-live {
    margin-top: 0px !important;
    margin-left: 1%;
    width: 77%;
}

button {
    background-color: #212121;
    color: white !important;
    border: none;
}

.live-stream {
    display: flex;
    flex-direction: column;
    width:  80%;
    height: auto;
}

.chat {
    width: 18%;
    height: 90vh;
    margin-left: 1%;
    margin-right: 1%;
    background-color: #1f1f1f !important;

}


.live-stream-screen {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    background-color: #1f1f1f !important;
}

.notify-live {
    width: 100%;
    height: auto;
    background-color: #212121;
    display: flex;
    flex-direction: row;
    margin-bottom: 1%;
}

.notify-live-title{
    width: 50%;
    float: left;
}
.notify-live-btn{
    width: 50%;
    display: flex;
    flex-direction: row-reverse ;
    margin-top: -4%;
}
.screen1 {
    width: 30%;
}

.livestream-category {
    width: auto;
}

.livestream-profile {
    width: auto;
}


.div-stop a{
    background-color: red !important;
}


.div-edit {
    background-color: #008572;
    color: white;
    text-align: center;
    position: absolute !important;
    right: 0;
    bottom: 0;
    width: 13%;
}

.status-livestream {
    display: inline;
}



.btn-stop {
    padding-left: 25% !important;

}



.btn-edit-livestream:hover {
    background-color: #1f1f1f;
    border: 1px solid;
}

.btn-edit-livestream:focus {
    background-color: #1f1f1f;
    border: 1px solid;
}

.btn-edit-livestream:active:focus {
    background-color: #1f1f1f;
    border: 1px solid;
}
.modal-livestream .modal {
    width: 100%;
    opacity: 1;
}
.modal-child{
    background-color: rgba(64, 64, 64, 0.5);

}
.modal label {
    color: black !important;
}

.modal-livestream .modal-main {
    margin-top: 10%;
    margin-left: 25%;
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.modal-livestream .modal-dialog {
    width: 50% !important;
    height: auto;
}

.modal-livestream .modal-content {
    width: 100%;
    height: 100%;
}
.modal-title {
    width: auto;
    font-size: 30px;
    float: left;
}
b {
    color: black !important;
}
.modal-header {
    width: 100%;
    color: black !important;
}
vjs-modal-dialog-content {
    display: none;
}
.btn-close {
    width: auto;
    font-size: 14px;
    float: right;
}

.livestream-discription {
    width: 38% ;
    margin-left: 1%;
    height: auto;
    display: flex;
    flex-direction: column;

}


.div-button{
    margin-left: 1%;
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.livestream-setting {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 9%;
}

.setting-info-livestream {
    height: 100%;
    margin-bottom: 0 !important;
    background-color: #1f1f1f !important;
}

#online {
    margin-top: 1%;
    margin-left: 2%;
}

#offline {
    margin-top: 1%;
    margin-left: 2%;
}

.live-stream-button {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #212121;
    /*margin-left: 1.7%;*/
    height: 100%;

}

.live-stream-button div {
    margin-right: 2%;
}

.live-stream-button button {
    font-size: 125% !important;
    width: 100%;
    height: 96%;
}

.stream-key {
    margin-bottom: 2%;
}

.stream-url {
    margin-bottom: 2%;
}

.stream-view {
    margin-bottom: 2%;
}

.btn-setting {
    margin-top: 5px;
    margin-bottom: 5px;
}

.view-like
{
    display: flex;
    flex-direction: row;
}
.view-like-1 , .view-like-2{
    width: 100%
}

.btn-analysis {
    width: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn-status {
    width: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}


.btn-analysis:hover {
    background-color: white;
}

.btn-status:hover {
    background-color: white;
}

.live-stream-manager {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 1%;
    margin-left: 2%;
}



.config-stream {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.config-stream .stream-key{
    display: flex;
    flex-direction: column;
}
.config-stream .stream-url{
    display: flex;
    flex-direction: column;
}

.additional {
    width: 50%;
}

.video {
    height: 100% !important;
    width: 58%;
}

.portlet-title {
    float: right;
    display: flex;
    flex-direction: row;
    margin-top: 6%;
    margin-right: 5%;
    width: auto;
}
.portlet-title a
.btn-back {
    margin-right: 20px;
    width: auto;
}
.btn-sm{
    width: auto;
}

.page-header {
    background-color: #212121 !important;
}

.page-sidebar-menu {
    background-color: #212121;
}

.page-content {
    background-color: #161616 !important;
}
.div-public{

    width : auto;
    height: auto;
    margin-right:1%;
    margin-top: 2%;
    margin-bottom: 0%;
    color: black;
}

.btn-edit-livestream {
    width: auto;
    margin-left: 40%;
    margin-top: 10%;
    background-color: #1f1f1f;
    border: 1px solid;
}

.div-stop {
    background-color: red !important;
    color: white;
    text-align: center;
    width: auto;
    height: 18px;
    margin-top: 2.5%;
}
.selectStatus option{
    color: black !important;
}
.edit-left{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 50%;
}
.edit-right{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 50%;
}

.modal-body{
    display: flex;
    flex-direction: column;
}

.alert-success{
    text-align: center;
    background-color: #212121;
    margin: 0%;
}


