.tab-comment{
    height:  80%;
}
.video-livestream{
    width: 70%;
    height: 650px;
    margin-left: 5%;
    margin-right: 1%;
}
#main-content{
    width: 100%;
}
.tab-comment{
    overflow: scroll;
    overflow-x:hidden ;
}
.livestrem-cmt{
    display: flex;
}
.comment{
    height: 600px;
    margin-right: 5%;
    width: 20%;
    border: 0.2px solid #e0e0e0;
}
.msg {
    color: white;
}
.send-msg {
    width: 100%;
    height: 13%;
    margin: 0;
    background-color: #282828 !important;
}
.send-msg * {
    background-color: #282828 !important;
}
.top-chat {
    background-color: #282828 !important;
    height: 7%;
}
.icon-hide{
    margin-top: 77%;
    margin-left: 30%;
}
.input-comment {
    display: flex;
    height: 72%;
}
.avt-user {
    width: 14%;
}
.div-img {
    height: 32%;
    width: 55%;
    margin-left: 23%;
    margin-top: 8%;
}

.div-img img {
    width: 100%;
    height: 100%;
    border-radius: 48%;
    border-radius: 48%;
}
.icon-show{
    margin-top: 77%;
    margin-left: 30%;
}
.label-name{
    opacity: 0.7;
}
.input-msg{
    width: 100%;
}
.button-send{
    border: none;
    width: 14%;
    float: right;
    box-shadow: none !important;
    padding-bottom: 0 !important;
}
.form-inline{
    margin-top: 22px;
}
.hide-chat {
    text-align: center;
}
.button-hide {
    border: none;
    /*background-color: white;*/
    margin-top: 5px;
    opacity: 0.7;
}
.button-hide:hover {
    opacity: 1;
}

.chat * {
    background-color: #1f1f1f;
}
.show-chat {
    background-color: #F2F5F8;
    height: 28px;
    text-align: center;
}
.button-show {
    border: none;
    margin-top: 3px;
    opacity: 0.7;
    /*background-color: #f9f9f9;*/
}
.button-show:hover {
    opacity:1;
}
.conversation {
    padding: 0;
}
#main-content {
    width: 85%;
    padding: 0;
}
.username-custom {
    opacity: 0.5;
    font-size: 15px;
    display: inline
}
.message-custom {
    display: inline;
    font-size: 13px
}
.image-live{
    height: 63px;
    margin-left: 4%;
}
.div-image-live{
    height: 54px;
    margin-top: -4px;
    display: flex;
}
.run-text {
    width: 66.8%;
}
.run-text marquee {
    margin-top: 15px;
    font-size: 20px;
}
.video-js  {
    height: 100%;
}
.content-father{
    display: flex;
}
.index-chat {
    height: 100%;
}
.content-index{
    display: inline;
    width: 90%;
    padding-top: 5px;
    padding-left: 2%;
    word-break: break-all;
    min-height: 33px;
}
.icon-dots{
    padding-top:9px ;
    display:none!important;
}

.content-father:hover .icon-dots {
    display: inline-block!important;
}

.icon-dots-2{
    opacity: 0.7;
}
.ul-left {
    margin-left: 42% !important;;
}
html {
    overflow-y: hidden;
}
@media (max-width:700px){
    .headerLogo h1 {
        text-align:left;
    }

}
@media (min-width:1000px){
    .socialmedia {
        margin-right:100px;
    }
}
