.page-header.navbar {
    background-color: #212121 !important;
}
.page-content{
    background-color: #212121 !important;
}
.panel-body.row {
    background-color: #1f1f1f !important;
}
.grid-view is-bs3 hide-resize{
    background-color: #212121 !important;
}
.control-label {
    color: #fff !important;
}
.summary{
    background-color: #212121 !important;
    color: white;
}
tr , th , a, .prev.disabled span,.pagination > .disabled > span{
    background-color: #212121 !important;
    color: white !important;
}
.btn btn-info   btn-sm{
    color: blue !important;
}
.page-bar{
    background-color: #1a1a1a !important;
}
.dropdown-menu,divider{
    background-color: #212121 !important;
}
.select2-results__options{
    background-color: white !important;
}

.activeItemTemplate {
    color: white !important
}

.page-sidebar {
    background-color: #212121 !important;
}

.page-sidebar-menu {
    background-color: #212121 !important;
}
.page-content-white .page-content .page-bar {
    border-bottom: 1px solid #1f1f1f !important;
}
.page-sidebar .page-sidebar-menu>li>a{
    border-top: none !important;
}


.portlet .portlet-body .table-container::-webkit-scrollbar-thumb, .page-sidebar-menu::-webkit-scrollbar-thumb {
    background-color: #212121 !important;
}
.portlet .portlet-body .table-container::-webkit-scrollbar-track, .page-sidebar-menu::-webkit-scrollbar-track {
    -webkit-box-shadow: none !important;
    background-color: #212121 !important;
}

.table-container::-webkit-scrollbar-thumb , .page-sidebar-menu::-webkit-scrollbar-thumb {
    display: none ;
}


li.open>a,a:hover {
    background-color: #161616 !important;
}
.profile-usertitle-name{
    color: white !important;
}

.profile-sidebar-portlet {
    border-bottom: none !important;
}

.portlet.light {
    background-color: #212121 !important;;

}
