.title-donate {
margin-left: 10%;
}
.title-leftandright{
    display: flex;
    flex-direction: row;
    font-size: 18px;
    margin-left: 20%;
}
.title-left {
    text-align: left;
    margin-left: 30%;
}
.title-right {
    text-align: right;
    margin-right: 20%;
    margin-left: 40%;
}


.main-donate{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.report-day{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-left: 1%;
}
.report-transaction{
    flex-direction: column;
    display: flex;
    width: 45%;
    margin-right: 0%;
    margin-left: 6%;
    margin-top: 3%;
}


